html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

div.navbar-header{
    width: 230px;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:active {
    background-color: white;
    color: black;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-toggle{
    border-radius: 0px;
}

.panel {
    border-radius: 0px;}

.panel-group .panel {
    border-radius: 0px;
}

/* Home Page Carousel */

header.carousel {
    height: 30%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Footer Styles */

footer {
    margin: 0px 0;
    background-color: #083E62;
    color: white;
}

#companydetails a:link, 
#companydetails a:hover,
#companydetails a:visited,
#companydetails a:active {
    color: white;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

