<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light bg-custom">
    <a class="navbar-brand mr-auto mr-lg-0" href="/"><img src="/assets/img/Op-tec%20logo%20rect%205.svg" alt="Op-tec Systems" height="54px"></a> &nbsp;  &nbsp; 
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>  
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="d-none d-lg-block" style="color:#116297"><small> &nbsp; &nbsp; &nbsp; <span class="fas fa-phone"></span> &nbsp; 0161 660 4293<br>
&nbsp; &nbsp; &nbsp; <span class="fas fa-envelope"></span> &nbsp; projects&#64;op-tec.co.uk</small></p>
</nav>
