/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 5px 10px 5px 10px;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fb-share {
    color: #3b5998;
}
.fb-share:hover {
    background-color: #3b5998;
}

/* Twitter button */
.twitter-share {
    color: #55acee;
}
.twitter-share:hover {
    background-color: #55acee;
}

/* LinkedIn button */
.linkedin-share {
    color: #007bb5;
}
.linkedin-share:hover {
    background-color: #007bb5;
}

/* Email button */
.email-share {
    color: #444444;
}
.email-share:hover {
    background-color: #444444;
}