.watermark {
      background: url(/assets/img/Op-tec%20website%20watermark%202.svg);
      background-size: cover;
      background-repeat: space;
      color: #ffffff;
      }

.watermark-red {
      background: url(/assets/img/Op-tec%20website%20watermark%20red.svg);
      background-size: cover;
      color: #ffffff;
      }

.watermark-green {
      background: url(/assets/img/Op-tec%20website%20watermark%20green.svg) no-repeat center center;
      background-size: cover;
      color: #ffffff;
      }

.watermark-yellow {
      background: url(/assets/img/Op-tec%20website%20watermark%20yellow.svg) no-repeat center center;
      background-size: cover;
      color: #ffffff;
      }