---
layout: default
---
<div class="row">
<div class="col-md-8 offset-md-2">
<h1 class="display-4">{{ page.name }}</h1>
<h6>{{ page.position }}</h6>
{{ content }}
<a href="{{ page.linkedin }}" title="LinkedIn profile"><span class="fab fa-linkedin-in linkedin-share share-button"></span></a>
<p>&nbsp;</p>
<h2>Posts</h2>
<ul class="list-unstyled">
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
    <p>&nbsp;</p>
    </div>
</div>