---
layout: default
title: {{ page.title }}
---
<div class="container">
<div clss="row">
    <div class="jumbotron box-custom p-md-5 text-white bg-dark">
        <h1>{{ page.title }}</h1>
            <p>{{ page.date | date_to_string }} {% assign author = site.authors | where: 'short_name', page.author | first %}
                {% if author %}
                - {{ author.name }}
                {% endif %}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 offset-sm-1">
        {{ content }}
        <hr><br>
        {% include share_bookmark.html %}
        <p><small>{% if author %}More from <a href="{{ author.url }}">{{ author.short_name }}</a>{% endif %}</small></p>
        <br>           
    </div>
    <div class="col-sm-3 offset-sm-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            
            
            
            
            
        </div>
    </div>
</div>
<div class="row">
    <div class="PageNavigation col-md-6 col-sm-12 text-left">
        {% if page.previous.url %}
        <a class="btn custom-primary btn-outline-primary text-left" href="{{page.previous.url}}">&larr; {{page.previous.title}}</a>
        {% else %}
        <a class="btn btn-outline-primary disabled text-left" href="#">&larr; No older posts</a>
        {% endif %}
        <div class="d-md-none">&nbsp;</div>
    </div>
    <div class="PageNavigation col-md-6 col-sm-12 text-right"> 
        {% if page.next.url %}
        <a class="btn custom-primary btn-outline-primary" href="{{page.next.url}}">{{page.next.title}} &rarr;</a>
        {% else %}
        <a class="btn btn-outline-primary disabled text-right" href="#">No newer posts &rarr;</a>
        {% endif %}
        <br>&nbsp;
    </div>
</div>
    </div>